html, body, #root {
  width: 100%;
}

body {
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
}

h1 {
  text-align: center;
}


.battleship {
  width: 100%;
}

.boards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.board{
  background-color: #1da2d8;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.board-row {
  display: flex;
}

.board-row:not(:first-child) .tile{
  border-top: 0px;
}


.tile {
  border: solid black;
  height: 32px;
  width: 32px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile.header {
  background-color: darkgrey; 
}

.tile:not(:last-child){
  border-right: 0px;
}

.tile.ship{
  background-color: lightgrey;
}

.tile.water.preview {
  background-color: lightgray;
  opacity: 0.5;
}

.tile.water.preview-error{
  background-color: red;
  opacity: 0.5;
}